@import "./colors/colors";
@import "./reset/basic-reset";
@import "./card/card-style";

$grey: #3b3a3a;

body {
  background: $grey;

  h1,
  p {
    text-align: center;
    margin: 0 auto;
  }
  div {
    margin: 0 auto;
    width: 50%;
  }

  img {
    width: 100%;
  }
}
